html, body {
    font: Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.root {
    margin: 0;
    padding: 0 20px;
}

pre>code {
    display: block;
    padding: 1rem;
    word-wrap: normal;
}

.text-warning {
    background-color: #ecc200;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 10px;
}